<%- include("header") -%>

    <h1 class="middle-text" style="
    color:black;
    background-color:white;
    padding:1rem 2rem;
    border-radius: 10px;

    ">This is All about Ahmad Software Engineer</h1>


    <%- include("footer") -%>